.banner {
    height: 250px;
    background-color: grey;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.titleScreen {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.titleText {
    font-size: 32px;
    font-weight: bold;
}

.startButton {
    width: 10%;
    height: 15%;
    background-color: #40b740;
    color: white;
    border-radius: 12px;
    border: none;
}