.gameGuiContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: 80vw;
    user-select: none;
}

.gameBoardContainer {
    /* flex-grow: 1; */
}

.centerContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.winnerPopover {
    width: 100vw;
    height: 300px;
    background-color: grey;
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.bottomBar {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.invisible {
    display: none;
}

.faded {
    opacity: 0.8;
    filter: blur(2px);
}

.buttonsContainer {
    display: flex;
    gap: 12px;
}

.buttonsContainer button {
    padding: 4px;
}